body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.container {
  background-color: darkslategray;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 40px;
  color: white;
}
.counterBox {
  background-color: cadetblue;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.count {
  margin: 0 10px;
  font-size: 30px;
  color: white;
}
.countBtn {
  background-color: darkslategray;
  font-size: 30px;
  color: white;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

form {
  margin-top: 50px;
  background-color: cadetblue;
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
input{
  margin-bottom: 10px;
  font-size: 20px;
  padding: 3px 5px;
  box-sizing: border-box;
}
.textLength{
  font-size: 30px;
}